@import 'bulma';

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -khtml-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin filter($filter) {
    -webkit-filter: $filter;
    filter: $filter;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transform($transformation) {
    -webkit-transform: $transformation;
    -moz-transform: $transformation;
    -o-transform: $transformation;
    -ms-transform: $transformation;
    transform: $transformation;
}

html, body { height: 100%; }
body {
    font: 16px 'Josefin Sans';
    text-align: center;
    .add {
        font-weight: normal;
        margin: 1em 0;
    }
    .form-field {
        margin-bottom: 15px;
        .input {
            &.name {
                max-width: 450px;
            }
            &.url {
                max-width: 550px;
            }
            &.desc {
                max-width: 650px;
                height: 120px;
            }
        }
    }
}
.container {
    min-height: 100%;
    padding: 20px;
    padding-bottom: 60px;
    overflow: auto;
    header {
        h2 {
            font: 64px Lobster;
            text-shadow: 0 1px 1px #00225C, 0 3px 5px #A4C9FF, 0 2px 1px #0058CF;
        }
        nav {
            font: 44px 'Poiret One';
            margin-left: -0.575em;
            a {
                color: #006DFF;
                &:hover {
                    color: #08183D;
                }
            }
        }
        .icon {
            display: inline-block;
            width: 200px;
            height: 200px;
            background: url(../images/icon.png) no-repeat;
        }
    }
    h1.single {
        font-weight: bold;
        font-size: 4em;
        text-align: left;
        margin: 0.5em;
        border-bottom: 3px solid lighten(#006DFF, 10%);
        padding: 0.275em 0.22em 0.175em;
        @include border-radius(3px);
        @include box-shadow(0 15px 20px -15px);
        @include filter(drop-shadow(0 1px 1px darken(#338aff, 15%)));
        @include transition(all 0.375s ease);
        &:hover {
            background: lighten(#F5F7FA, 15%);
            @include border-radius(5px);
        }
        &:focus {
            color: darken(#338aff, 25%);
            border-color: white;
            background: none;
            @include border-radius(5px);
        }
    }
    .image {
        display: inline-block;
        width: 20%;
        height: 100%;
        max-width: 450px;
        padding: 15px;
        img {
            width: 100%;
            display: block;
        }
        span {
            display: block;
        }
        a {
            position: relative;
            display: block;
            color: black;
            border: 0.5px solid;
            border-top: 0.5px solid rgba(0, 0, 0, 0.45);
            border-right: 0;
            border-right: 0.5px solid rgba(0, 0, 0, 0.25);
            border-bottom: 2.5px solid white;
            @include border-radius(5px 5px 0 8px);
            @include box-shadow(0 5px 16px -5px black);
            &:after {
                position: absolute;
                content: attr(data-t);
                width: 100%;
                left: 0;
                bottom: 1px;
                padding: 5px 10px;
                color: black;
                text-align: right;
                text-shadow: 0 1px 1px white, 0 2px 6px;
                background: rgba(255, 255, 255, 0.5);
                border-top: 1px solid rgba(255, 255, 255, 0.75);
                opacity: 0;
                @include border-radius(0 0 0 5px);
                @include box-shadow(0 0 4px);
                @include transition(all 0.2s ease);
            }
        }
        .likes {
            position: absolute;
            cursor: url(../images/heart.png), auto;
            top: 1.1em;
            right: 1.1em;
            color: white;
            font-size: 2em;
            text-shadow: 0 1px 2px black;
            i {
                color: red;
                margin-right: 5px;
                &.naught {
                    color: white;
                }
            }
        }
        &.detail, &.single {
            float: left;
            width: 64%;
            max-width: none;
            border: 0.5px solid;
            border-top: 0.5px solid rgba(0, 0, 0, 0.45);
            border-right: 0;
            border-right: 0.5px solid rgba(0, 0, 0, 0.75);
            border-bottom: 0.5px solid white;
            padding: 0;
            @include border-radius(12px 12px 0 0);
            @include box-shadow(0 5px 16px -5px black);
            span {
                position: relative;
                @include box-shadow(inset 0 0 25px);
                i {
                    position: absolute;
                    top: 50%;
                    margin: -0.5em;
                    color: white;
                    font-size: 5em;
                    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5), 0 3px 7px white, 0 -1px 1px black, 0 2px 2px black;
                    opacity: 0;
                    @include transition(all 0.15s ease-out);
                }
                &.liked i {
                    font-size: 10em;
                    opacity: 0.945;
                }
            }
            .likes {
                position: relative;
                cursor: default;
                top: 0;
                right: 0;
                color: red;
                font-size: 3em;
                text-shadow: 0 1px 1px red, 0 -1px 1px red, 0 2px 2px black;
                padding-top: 10px;
                background: white;
                border-bottom: 1px solid grey;
                z-index: 1;
                @include border-radius(12px 12px 0 0);
                @include box-shadow(0 5px 9px -5px black);
                i {
                    font-size: 0.8em;
                }
                button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    border: 0;
                    padding: 0;
                    width: 0;
                    height: 100%;
                    background: red;
                    color: white;
                    font: 0.8em 'Josefin Sans';
                    text-shadow: 0 1px 1px darkred;
                    overflow: hidden;
                    @include border-radius(0 12px 0 0);
                    @include transition(all 0.175s ease-in);
                    &.edit-image {
                        background: black;
                        text-shadow: 0 1px 1px white;
                        left: 0;
                        right: inherit;
                        @include border-radius(12px 0 0 0);
                    }
                }
                &:hover {
                    button {
                        width: 4em;
                        border-left: 1px solid darkred;
                    }
                }
            }
        }
        &:hover {
            a:after {
                font-size: 1.25em;
                font-weight: bold;
                opacity: 1;
            }
        }
    }
    .description {
        float: left;
        width: 36%;
        padding-left: 1.5em;
        p {
            padding: 1em;
            font-size: 1.4em;
            border-bottom: 1px solid lighten(#006DFF, 10%);
            @include transition(all 0.375s ease);
            &:hover {
                background: lighten(#F5F7FA, 15%);
                @include border-radius(5px);
                @include box-shadow(0 15px 20px -15px);
                @include filter(drop-shadow(0 1px 1px darken(#338aff, 15%)));
            }
            &:focus {
                color: darken(#338aff, 25%);
                border-color: white;
                background: none;
                @include border-radius(5px);
            }
        }
    }
    footer {
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 20px;
    }
}
