@import 'bulma';

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -khtml-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transform($transformation) {
    -webkit-transform: $transformation;
    -moz-transform: $transformation;
    -o-transform: $transformation;
    -ms-transform: $transformation;
    transform: $transformation;
}

html, body { height: 100%; }
body {
    text-align: center;
    .form-field {
        margin-bottom: 15px;
        .input {
            &.name {
                max-width: 450px;
            }
            &.url {
                max-width: 550px;
            }
            &.desc {
                max-width: 650px;
                height: 120px;
            }
        }
    }
}
.container {
    min-height: 100%;
    padding: 20px;
    padding-bottom: 40px;
    header {
        h2 {
            font: 64px Lobster;
            text-shadow: 0 1px 1px #00225C, 0 3px 5px #A4C9FF, 0 2px 1px #0058CF;
        }
        nav {
            font: 44px 'Poiret One';
            margin-left: -0.575em;
            a {
                color: #006DFF;
                &:hover {
                    color: #08183D;
                }
            }
        }
        .icon {
            display: inline-block;
            width: 200px;
            height: 200px;
            background: url(../images/icon.png) no-repeat;
        }
    }
    .image {
        display: inline-block;
        width: 50%;
        height: 100%;
        max-width: 450px;
        max-height: 450px;
        padding: 15px;
        img {
            width: 100%;
            display: block;
        }
        span {
            position: absolute;
            display: block;
            left: 15px; right: 15px;
            top: 15px; bottom: 15px;
            border: 0.5px solid;
            border-top: 0.5px solid rgba(0, 0, 0, 0.45);
            border-right: 0;
            border-right: 0.5px solid rgba(0, 0, 0, 0.25);
            border-bottom: 2.5px solid white;
            @include border-radius(5px 5px 0 8px);
            @include box-shadow(0 5px 16px -5px black);
        }
    }
    footer {
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 20px;
    }
}
