<h1 class="single title" contenteditable ng-keyup="update(IMG)" ng-model="IMG.name">{{ IMG.name }}</h1>
<div class="single image">
    <div class="likes"><i class="fa fa-heart-o"></i>{{ IMG.likes }}<button class="edit-image" ng-click="updateImg(IMG)">image url</button><button class="remove" ng-click="delete(IMG)">delete</button></div>
    <span style="background: url({{ IMG.url }}) center/cover no-repeat;" ng-dblclick="addLike(IMG)" title="{{ IMG.name }}">
        <img src="images/img.template.png" alt="{{ IMG.name }}">
        <i class="fa fa-heart"></i>
    </span>
</div>
<div class="single description">
    <p contenteditable ng-keyup="update(IMG)" ng-model="IMG.desc">{{ IMG.desc || 'No description.' }}</p>
</div>
